.container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;
    background-color:aqua;
}
.item{
    background-color:bisque;
    padding:20px;
    border:2px solid black;
    text-align:center;
}
@media(max-width:728px){
    .container{
        grid-template-columns:repeat(2,1fr);
    }
}
@media(min-width:420px){
    .container{
        grid-template-columns:repeat(3,1fr);
    }
}